.container{
	display: flex;
	flex-direction: row;
	justify-content: center;
	width: auto;
	height : 1000px;
	background-image: url("MappedeLise.svg");
	background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
	background-size: cover;
	border-radius: 5%;

}

tfoot th{font-size: 10px;}

table{

	margin-top: 140px;
	width: 75%;
opacity: 0.99;
	border-style: inset;
    border-color: aquamarine;
    border-radius: 5%;
}

caption{
	font-size: 25px;
	background-color: coral;

}

tr{
	border-style: solid;
	background-color : bisque;/*rgb(170,230,200)*/
}

td {

	padding-left: 30px;
	font-size: 20px;
	width: 250px;
	border-color: grey;
	border-style: groove;
	border-style: inset;
	border-radius: 15%;
	background-color: lightgrey; 
}

td{
	text-align: center;
	width : 180px;
	height : 30px;
	color : brown;
}


.vide input{
	width: 380px;
	text-align: center;
	font-size: 20px;
	background-color: wheat;
	color: blue;
	border-radius: 25%;
}

caption{
border-style: inset;
	border: 2px solid;
    border-top-left-radius: 2em;
    border-top-right-radius: 2em;
}

thead th{
	border-top-left-radius: 2em;
    border-top-right-radius: 2em;
}

tfoot th{

	border: 2px solid;
    border-bottom-left-radius: 2em;
    border-bottom-right-radius: 2em;
    border-style: inset;
}













